<%- include ("./templates/_header") %>

<!-- code code code code code -->

<!-- Este div con clase div_de_divs es el que contiene a las cards
y lo puse para hacerle el display flex -->
<div class = "div_de_divs"> 
    <!-- CONJUNTO DE DIV -->
    <div class="card" style="width: 18rem;">
      <img src="https://s3.amazonaws.com/mercado-ideas/wp-content/uploads/sites/2/2018/04/16193205/comida-perros-4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRO PLAN</h5>
        <p class="card-text">  Un alimento de alta calidad, con gran concentración de proteínas, grasas y fibras, siendo las que mayor contenido de esto tienen.</p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://cotonoblog.files.wordpress.com/2021/03/kongo-gold-medianos-render.jpg?w=1188" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">KONGO GOLD</h5>
        <p class="card-text"> 
            Kongo Gold es el alimento súper premium de la familia de Kongo y ofrece los estándares más altos de calidad en su segmento. Con la fórmula ideal para cada etapa de la vida y proteína de pollo como principal ingrediente. Los refugios de animales y los rescatadores siempre requieren manos extras.</p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
  <form action="/cart" method="get">
    <div class="card" style="width: 18rem;">
      <img src="https://compararebajas.com/wp-content/plugins/aawp/public/image.php?url=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNDExOVM5NWZubEwuanBn" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HI PRO</h5>
        <p class="card-text">HI MULTI PRO Alimento Premium para Perro Adulto 7kg con probióticos y Proteínas de Alto Valor.</p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </form>
  
  
  
  
  
    </div>
    
  
    <!-- CONJUNTO DE DIV -->
  </div>

<!-- code code code code code -->


<%- include ("./templates/_footer") %>