<%- include ("./templates/_header") %>

<!-- COSA COSAC CODE CODE CODE -->

<!-- Este div con clase div_de_divs es el que contiene a las cards
y lo puse para hacerle el display flex -->
<div class = "div_de_divs"> 
  <!-- CONJUNTO DE DIV -->
  <div class="card" style="width: 18rem;">
    <img src="https://laopinion.com/wp-content/uploads/sites/3/2019/06/81fglvxhjtl._sl1200_-e1561122636604.jpg?quality=80&strip=all&w=1200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MUEBLES</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://www.prensalibre.com/wp-content/uploads/2020/01/shutterstock_154805255.jpg?quality=82&w=760&h=430&crop=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">COMIDA</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://soyunperro.com/wp-content/uploads/2017/09/perro-cpm-juguetes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">JUGUETES</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>





  </div>
  









  <!-- CONJUNTO DE DIV -->
</div>


<!-- COSA COSAC CODE CODE CODE -->

<%- include ("./templates/_footer") %>