<%- include ("./templates/_header") %>

<!-- code code code code code -->

<!-- Este div con clase div_de_divs es el que contiene a las cards
y lo puse para hacerle el display flex -->
<div class = "div_de_divs"> 
    <!-- CONJUNTO DE DIV -->
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/61oz4-uEi9L._AC_SX466_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JUGUETE MASTICABLE</h5>
        <p class="card-text"> Excelente opción para entretener a tu perro.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://perroswallyfo.com/wp-content/uploads/2020/08/Juguetes-para-perros-en-casa-1024x1024.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JUGUETE DE CUERDA</h5>
        <p class="card-text"> 
            Ayuda a tu perro a fortalecer sus músculos y mandíbula.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
  
    <div class="card" style="width: 18rem;">
      <img src="https://i.linio.com/p/66c5212b1b6c18037ef57e5ebbd030a0-product.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PELUCHE</h5>
        <p class="card-text">¡Obtén un mejor amigo para tu mejor amigo!</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    </div>
    
  
    <!-- CONJUNTO DE DIV -->
  </div>


<!-- code code code code code -->


<%- include ("./templates/_footer") %>