<%- include ("./templates/_header") %>

<!-- code code code code code -->

<!-- Este div con clase div_de_divs es el que contiene a las cards
y lo puse para hacerle el display flex -->
<div class = "div_de_divs"> 
    <!-- CONJUNTO DE DIV -->
    <div class="card" style="width: 18rem;">
      <img src="https://www.eluniverso.com/resizer/eQGb5971-zFAZjhoqfw5igaDm9Q=/589x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/I35WDHQOOFC75OS4L42UTBJTCY.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CASAS DE LUJO</h5>
        <p class="card-text">El perfecto lugar de descanso y protección para tu perro.</p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="https://cdn.shopify.com/s/files/1/0185/9786/products/2075-BasecampBowl-BlueDusk-FernGreen-OnMat_Zoom_eaff7e69-a7fa-47a6-90aa-924f52c39003_1800x1200.jpg?v=1569122042" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PLATOS</h5>
        <p class="card-text"> Tu amigo aventurero se podrá hidratar y comer bien después de un largo paseo. 
        </p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  
  
    <div class="card" style="width: 18rem;">
      <img src="https://www.topcomparativas.com/wp-content/uploads/2019/04/prokth-cama.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CAMITA</h5>
        <p class="card-text">Para un lomito calientito y descansado.</p>
        <a href="/carrito" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    </div>
    
    <!-- CONJUNTO DE DIV -->
  </div>
<!-- code code code code code -->


<%- include ("./templates/_footer") %>