<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2016/06/15/17/46/feet-1459485_960_720.png" sizes="32x32">
    <title>MOXO</title>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MOXO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/muebles">MUEBLES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/comida">COMIDA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/juguetes">JUGUETES</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/carrito">Carrito</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/myAccount/6101e06365e9b1190232b85b">Mi cuenta</a>
              </li>

            </ul>
            
            <a href="/logoff"><button type="button" class="btn btn-secondary">Log Off</button></a>
            
          </div>
        </div>
      </nav>
    
</head>
<body>
    
